*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Doppio One', sans-serif;
}
html{
   font-size: 62.5%;
  scroll-behavior: smooth;
  

}
Html,body{
    Height:100%;
   }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* navigation starts */

nav ul{
    display: flex;
    justify-content: space-around;
    background-color: #444349;
    padding: 3rem 0;
    border-bottom: 0.9rem solid  gray;
}

li{
    /* float: left; */
    list-style: none;
    /* margin: 0 16rem; */
    font-size: 2rem;

}

li a{
  transition: 0.5s;
}


li a:hover{
  color: #0dbae0;
  transition: 0.5s;
}

a{
    color: #fff;
    text-decoration: none;

}


/*navigation ends*/

/*intro starts*/
.intro{
    background-image: url("../images/baack1.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    border-bottom: 0.9rem solid  gray;

}


.frame-image{
    width: 30%;
    border-radius: 50%;
    /* float: left; */
    margin-left: 24%;
   border: 2px solid #FFF;
    
}

.picture{
    width: 80%;
    margin: 0 auto;
    padding: 7rem 0 6rem 0;
    display: flex;
}

.intro h2{
width: 35%;
padding: 0 1rem;
line-height: 4rem;
font-size: 3rem;
text-align: center;
font-family: 'Roboto Mono', monospace;
}

/* intro ends */

.inner{
    max-width: 1200px;
    margin: 8rem auto;
    display: flex;
    justify-content:space-between;

}

.main-point{
   color: #409fbf;
}

.about-me p{
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.9rem;
    color: #444349;
    font-family: 'Kosugi Maru', sans-serif;
    line-height: 3.2rem;

}

.about-me .int{
    width: 40%;
    /* float: left; */
    border-top: .5rem solid #bcbcbc;
    padding-top: 2rem;
}


.about-me .hobby{
    /* float: right; */
    width: 40%;
    border-top: .5rem solid #bcbcbc;
    padding-top: 2rem;
    margin-left: 15vw;
}



/*intro ends*/

/*skills*/

.skills{
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar{
  height: 20px;
  background: #cacaca;
  border-radius: 8px;
}

.skill-per{
  height: 20px;
  background-color: #0fbcf9;
  border-radius: 8px;
  width: 0;
  transition: 1s linear;
  position: relative;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

/*skill ends*/

/*projects starts*/
    .projects{
        width: 100%;
        background-color: #444349;
        text-align: center;
        border-top: 1rem solid #bcbcbc;
        border-bottom: 1rem solid #bcbcbc;
        padding-bottom: 8rem;
    }

    .projects h1{
        color: #409fbf;
        font-size:3.3rem;
        padding: 3.5rem 0;
    }

    .projectGrid{
      display: grid;
      grid-template-columns: repeat(2,minmax(0,1fr));
      margin: 2% 6.5%;
      grid-gap: 5rem;


    }
    .projectGrid div{
      position: relative;
    }

    .projects img{
        /* float: left; */
        /* width: 20%; */
        /* height: 50%; */
        width: 60%;
        margin: auto;
        border: 0.8rem solid #bcbcbc ;
    }

    .hover{
      position: absolute !important;
      background: rgba(255,255,255,0.7);
      width: 60%;
      height : 100%;
      top : 0;
      left : 20%;
      margin : auto;
      z-index: 3;
      opacity: 0;
      transition: 0.5s;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }

    .hover:hover{
      opacity: 1;
    }

    .hover p{
      margin-bottom: 1rem;
      font-size: 2rem;
      color : white;
    }

    .hover p span{
      color :  #409FBF;
    }

    .hover-button{
      background: #409FBF;
      padding : 16px;
      color : white;
      border-radius : 8px;
      font-size: 2rem;
    }

/*projects ends*/

/*contact us starts*/

.contact{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    overflow: auto;
}

.contact .form{
  display: flex;
}

form{
    width: 75%;
    background-color: #444349;
    /* float: left; */
    padding: 4rem 0;
    border-radius: 3vh;
    box-shadow: .5rem .5rem .2rem .3rem #444349;
  
}

.error{
  color: red;
  font-size: 1.5rem;
  display: none;
}
label{
    font-size: 2rem;
    color: #bcbcbc;
    display: block;
    text-align: left;
    margin-left: 4.5%;
}

.inner-content{
    padding-top: 5rem;
}


.inner-content h1{
    color: #409fbf;
    font-size:3.3rem;
}

.inner-content h3{
    color: #444349;
    font-size: 2.8rem;
    padding-top: 0.5rem;
    padding-bottom: 8rem;
}

input[type=text]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type=submit]{
      background-color: #409fbf;
      padding: 1rem 5rem;
      font-size: 2rem;
      color: #fff;
      text-align: left;
      display: block;
      margin-left: 4.5%;
      border-radius: 8rem;
      cursor: pointer;

  }

  textarea {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .social-media{
      width: 20%;
      /* float: left; */
  }

  .social-media .fab , .fas{
        /* float: left; */
        /* clear: both; */
        font-size: 7rem;
        margin-left: 50%;
        border-radius: 100%;
        color: #444349;
        text-align: center;
        margin-top: 2rem;

  }

  .fab:hover,.fas:hover{
      opacity: .5;
      cursor: pointer;
      transform: rotate(20deg);
    
  }

/* contact us ends */

/*arrow link*/

.arrow{
    text-align: center;
    margin-top: 4rem;
}
.arrow .fa {
    font-size: 6rem;
}

.arrow-one{
    position: relative;
    top: 6rem;
}
.arrow-two .fa{
    color: #409fbf;
    font-size: ;
}

.arrow-three{
    position: relative;
    top: 4rem;
}
.arrow-three .fa{
    color: #FFF;
}
.arrow-four .fa{
    color: #409fbf;
}
.UP-SIGN {
  text-align: left;
  font-size: 3rem;
  margin-left: 3rem;
}

.UP-SIGN a{
    color: #409fbf;
}

/*arrow link ends*/
/*footer starts*/
footer{
    width: 100%;
    padding: 3rem 0;
    background-color: #444349;
    text-align: right;
    margin-top: 3rem;
}

footer h1{
    margin-right: 4%;
    font-size: 3.5rem;
    color: #bcbcbc;
}






@media (max-width : 1000px) {


  .intro{
    background-position: center;
   
  }

  .projectGrid{
      grid-template-columns: repeat(1,minmax(0,1fr));
  }

  .inner{
    flex-direction: column;
  }

  .inner article{
    margin : auto;
  }
  .about-me .hobby{
    margin: auto;
    margin-top: 15rem;
  }

  .contact{
    width : 60%
  }

  form{
    margin : auto;
    
  }

  .contact .form{
    flex-direction: column;
  }

  .social-media{
    display: flex;
    margin-left:2vw;
  }

  .social-media .fab , .fas{
    margin-left: 12vw;
}
}



@media (max-width : 800px) {

  .picture{
    width : 95%;
    display: flex;
    flex-direction: column;
  }

  .frame-image{
    width: 50%;
    margin:0 auto;
  }
    .intro{
  background: none;
    }

  .intro h2{
    font-size: 3rem;
    margin:3rem auto;
    width:80%;
  }

  .contact{
    width : 80%;
    overflow: hidden;
  }

 

}


@media (max-width : 600px ) {


  .picture{
    width : 95%;
    display: flex;
    flex-direction: column;
  }

  .frame-image{
    width: 70%;
    margin-left: 15%;
  }

  
.intro{
  background: none;

}
  .intro h2{
    font-size: 2.5rem;
    margin: 0 auto;
    width: 100%;
    margin-top: 6rem;
  }

  .arrow-one{
  display: none;
}



  .contact{
    width : 100%;
  }

  .projectGrid{
    margin: 2% 0;
  }

  .social-media{
    margin-left:2vw;
  }

  .social-media .fab , .fas{
    font-size: 5.5rem;
}
}


@media (max-width:500px) {


  .picture{
    width : 100%;
  }


  .about-me .int{
    width : 80%;
  }

  .about-me .hobby{
    width : 80%;
  }
  

  .intro{
    background: none;
  
  }


  .projects img{
    width: 80%;
  }

  .hover{
    width : 80%;
    left : 10%;
  }


}
@media (max-width : 380px) {
  form{
    width : 90%;
    border-radius: 16px;
  }
  .social-media .fab , .fas{
    font-size: 3.5rem;
}
}
